:root {
  --text: Linux Libertine, Georgia, serif;
  --secondary: Linux Biolinum, Optima, sans-serif;
  --display: ChicagoFLF, Chicago, Impact, sans-serif;
  --code: Berkeley Mono, Consolas, monospace;

  font-family: var(--text);
  font-size: 1.2em;
  line-height: 1.4em;

  max-width: 70ch;
  padding: 1em;
  margin: auto;

  color-scheme: light dark;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display);
  font-weight: normal;
  line-height: 1.2em;
}

figcaption, ol::marker, ul::marker, header, footer {
  font-family: var(--secondary);
}

header, footer {
  font-size: 0.8em;
}

pre {
  overflow-x: auto;
}

pre, code {
  font-family: var(--code);
  font-size: 0.8em;
  line-height: 1.2em;
  & & {
    font-size: 1em;
  }
}

ol li::marker {
  font-family: var(--secondary);
  font-variant-numeric: oldstyle-nums;
}

ul[role=list] {
  list-style: none;
  padding-inline-start: 0;

  & & {
    padding-inline-start: 1em;
  }
}

dt {
  font-weight: bold;
  font-style: normal;
}

blockquote {
  font-style: italic;
}

a {
  color: inherit;
}

.book-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  overflow-x: auto;

  background: rgb(14, 19, 65);
  color: rgb(215, 215, 242);

  font-family: var(--secondary);

  a {
    margin-inline: 1em;
    &:not(:hover, :focus-visible, :active) {
      text-decoration: none;
    }
  }

  .homepage-link {
    font-family: var(--display);
    text-transform: uppercase;
  }

  + header {
    margin-block-start: 3em;
  }
}

.book-title {
  font-size: 5vw;
  text-transform: uppercase;
  line-height: 1em;
  font-style: italic;
}

.top-blurb {
  font-size: 1.2em;
  font-style: italic;
}

.bottom-blurb {
  font-family: var(--secondary);
  font-size: .8em;
  line-height: 1.2em;
  width: max(20ch, 50%);
  max-width: 100%;
}

.buy-it {
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: .2em;
  width: 80%;

  > a {
    flex: 1 0 15ch;

    font-family: var(--secondary);
    font-weight: bold;
    font-size: .9em;
    line-height: 1.4em;

    background: rgb(215, 215, 242);
    color: rgb(14, 19, 65);
    text-decoration: none;
    text-align: center;
    padding: 0.2em;
    
    &:hover, &:focus, &:active {
      background: rgb(200, 200, 239);
    }

    small {
      display: block;
      font-weight: normal;
    }
  }
}

.table-of-contents {
  ul {
    column-width: 30ch;
    column-gap: 2em;
    display: flow-root;
    margin-block: 1.4em;
  }
  li + li {
    margin-block-start: 1.4em;
  }

  .internal-contents {
    display: none;
  }
  
  a {
    text-decoration: none;
  
    &:hover, &:focus-visible, &:active {
      text-decoration: underline;
    }
  
    &:not(.internal-contents a) {
      font-weight: bold;
    }
  }
}

.part-children {
  font-family: var(--secondary);
  .part-child {
    margin-block: 1em;
  }
  a:not(:hover, :focus-visible, :active) {
    text-decoration: none;
  }
}

.division-toc {
  font-family: var(--secondary);
  ul {
    font-size: .8em;
    ul { font-size: 1em; }
    li {
      margin-block: .5em;
    }
  }
}

.navigation {
  margin-block: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  gap: .2em;

  p {
    display: contents;
  }

  a {
    flex: 1 0 15ch;

    font-family: var(--secondary);
    font-size: .9em;
    line-height: 1.4em;

    background: rgb(215, 215, 242);
    color: rgb(14, 19, 65);
    text-decoration: none;
    padding: .2em .4em;
    
    &:hover, &:focus, &:active {
      background: rgb(200, 200, 239);
    }
  }

  [rel=next] {
    font-weight: bold;
    text-align: end;
  }
}

#html-note {
  font-size: .8em;
  padding: 0 1em;
  display: flow-root;

  background: rgb(230, 230, 246);
  border-block: 1px solid rgb(34, 64, 104);

  @media (prefers-color-scheme: dark) {
    background: rgb(20, 22, 43);
    border-color: rgb(74, 89, 230);
  }

  h2 {
    font-size: 1em;
    font-family: var(--secondary);
    font-weight: bold;
  }
}

.quote-attribution {
  margin-inline: 1em;
  text-align: right;
  font-size: .8em;
  font-family: var(--secondary);
}

.kw, .cf, .bu, .ex, .pp, .at, .in, .wa {
  font-weight: bold;
}
.dt, .dv, .bn, .fl, .ch, .st, .co, .ot, .al, .fu, .re, .er, .cn, .sc, .vs, .ss, .im, .do, .an, .cv, .va, .op {
  color: #777;
  @media (prefers-color-scheme: dark) {
    color: #bbb;
  }
}
